*{margin: 0px; padding:0px;}
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css');

@media(min-width: 1300px){
  .container, .container-lg, .container-md, .container-sm, .container-xl{
    max-width: 1200px;
  }
}
@media (max-width: 768px) {
  .adminWrapper .logoWrapperAdmin {
    margin-right: 40px;
  }
  nav .navpart1 .catWrapper button{
    flex: 1 1 100%;
    max-width: 80%;
    position: relative;
    right: 10px;
  }
  nav .navpart1 .catWrapper button .item1,nav .navpart1 .catWrapper button .item2{
    opacity: 0;
  }
  .nav .navpart2 {
    flex: 1 1 100%;
    max-width: 100%;
  }
  nav .navpart2 ul {
    flex-direction: row;
    align-items: flex-start;
  }

  nav .navpart2 ul li {
    margin-right: 0;
  }

  nav .navpart2 ul li a .navButton{
    font-size: 10px;
    padding: 0px;
  }
}

@media (max-width: 480px) {
  .adminWrapper .logoWrapperAdmin {
    margin-right: 20px; 
  }
  nav .allCatTab .text {
    display: none;
  }
  
  nav .navpart2 ul li a {
    font-size: 12px;
    padding: 6px;
  }
}
::-webkit-scrollbar{
  width:8px;
  height:8px;
}
::-webkit-scrollbar-thumb{
  background: #ccc;
}
::-webkit-scrollbar-track{
  background: transparent;
}
a:hover{
  text-decoration: none;
}
body{
  font-family:"Lato", sans-serif;
  font-size: 14px;
}
.cursor{
  cursor:pointer;
}
.badge{
  background-color: #2dea7c;
  border-radius: 15px;
  margin: 5px;
}
.text-light{
  background-color:rgb(154, 150, 150);
  text-align: center;
}
.text-small{
  font-size: 15px;;
}
.bg-blue{
  background: #0b0eb8;
}
.headerWrapper{
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-bottom: 10px;
}
.headerWrapper .top-strip{
  padding: 8px 0px;
  color: white;
  font-size: 12px;
  font-weight: 400;
}

.headerWrapper .header{
  width: 100%;
  height: auto;
  padding: 15px 0px;
}
.logoWrapper{
  display: flex;
  flex-direction: column;
}
.logoWrapper img{
  max-width:100%;
  min-width: 50%;
  height:100%; 

}
.adminWrapper .logoWrapperAdmin{
  width: 150px;
  margin-right: 100px;
}
.headerWrapper .header .part2{
  display: flex;
  flex-direction: center;
  align-items: center;
  gap: 20px;
}

.headerWrapper .header .part2 .cityDropdown{
  text-align: left;
  width: 150px;
  height: 50px;
  min-width:150px;
  border: 1px solid black;
  border-radius: 5%;
}
.headerWrapper .header .part2 .cityDropdown .info{
  display: flex;
  flex-direction: column;
}
.headerWrapper .header .part2 .cityDropdown .label{
  font-size: 10px;
}
.headerWrapper .header .part2 .cityDropdown .name{
  font-size: 12px;
  font-weight: 400;
  color: black;
}
.headersearch{
  width: 80%;
  height: 50px;
  background: #f3f4f7;
  padding: 10px;
  position:relative;
  border-radius: 10px;
  border: 2px solid rgba(0,0,0,0.7); 
}
.adminWrapper{
  display: flex;
  align-items: center;
  gap: 25px;
}
.admin{
  width: 40%;
}
header button.rounded-circle{
  min-width: 40px;
  width: 40px;
  height: 40px;
  background-color: #f0f5ff;
  color: black;
}
.headersearch input{
  background: transparent;
  outline: none;
  font-size:14px;
  color:black;
  width:100%;
  height: 40px;
  border: 0px;
  position:relative;
  bottom: 6px;
  left: 5px;
}
.admin input{
  width:100%;
}
.headersearch button{
  position:absolute;
  top: -2px;
  right: 0px;
  z-index:100;
  border-radius:50%;
  color:#0b0eb8;
  height: 50px;
  width: 50px;
}
.headersearch button svg{
  font-size: 15px;
  opacity: 0.8;
}
header .part3{
  display: flex;
  align-items: center;
}
header .admin{
  gap: 20px;
}
header .part3 .circle{
  align-items: center;
  justify-content: center;
  min-width: 40px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,0.1);
}
header .part3 .circle svg{
  font-size: 22px;
}
.cartTab{
  display: flex;
  align-items: center;
}
.cartTab .price{
  font-size: 14px;
  font-weight: 700;
  padding:0px 10px;
}
.cartTab .bucket a{
  text-decoration: none;
}
.cartTab .bucket .circle{
  background: #fff1ee;
  position:relative;
  top:7px;
}
.cartTab .bucket .circle svg{
  color: #ea2b0f;
}
.cartTab .bucket .count{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top:-38px;
  right:-25px;
  background-color: #ea2b0f;
  border-radius: 50%;
  color: white;
  width: 20px;
  height:20px;
}
nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav .navpart1 {
  display: flex;
  align-items: center;
  max-width: 20%;
  flex: 0 0 20%;
}
nav .navpart1 .catWrapper{
  position:relative;
}
nav .navpart1 .catWrapper .sidebarNav{
  width:110%;
  max-width:200%;
  min-width: 50%;
  height:0px;
  background:  #fff;
  position:absolute;
  top:148%;
  left:0px;
  border: 1px solid rgba(0,0,0,0.1);
  padding:15px 0px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
  z-index: 100;
}
nav .navpart1 .catWrapper .sidebarNav.open{
  visibility: inherit;
  height: auto;
  opacity: 1;
}
nav .navpart1 .catWrapper .sidebarNav ul{
  width:100%;
}
nav .navpart1 .catWrapper .sidebarNav ul li{
  width:100%;
  list-style: none;
  position:relative;
  right: 15px;
}
nav .navpart1 .catWrapper .sidebarNav ul li button{
  color:black;
  width: 100%;
  justify-content: flex-start;
}
nav .navpart1 .catWrapper .sidebarNav ul li button:hover{
  background: transparent;
}
nav .navpart2 {
  display: flex;
  align-items: center;
  max-width: 80%;
  flex: 0 0 80%;
}
.location .MuiPaper-elevation{
  padding:25px;
  position: relative;
}
.location .locationlist{
  margin-bottom: 0px;
  max-height: 400px;
  overflow-y: scr;
  overflow-x: hidden;
}
.location .close_{
  position: absolute;
  top:5px;
  right:5px;
  color:black;
  min-width: 40px;
  width:40px;
  height:40px;
  border-radius: 50%;
}
.location .locationlist li{
  width:100%;
  list-style: none;
}
.location .locationlist li button{
  width:100%;
  color:black;
  font-weight: 500;
  justify-content: flex-start;
  padding: 10px 10px;
  font-size: 12px;
}

nav .allCatTab {
  display: flex;
  align-items: center;
  gap: 3px;
  background: #2bbef9;
  padding: 6px 18px;
  border-radius: 30px;
  border: 1px solid #2bbef9;
  color: white;
}

nav .allCatTab:hover {
  color: #2bbef9;
}

nav .allCatTab .text {
  font-weight: 500;
  font-size: 10px;
}
nav .navpart1 .catWrapper .sidebarNav ul li{
  position: relative;
}
nav .navpart1 .catWrapper .sidebarNav button{
  gap:60px;
}
nav .navpart1 .catWrapper .sidebarNav button svg{
  font-size: 10px;
  opacity: 0.6;
}
nav .navpart1 .catWrapper .sidebarNav ul li .submenu{
  position: absolute;
  top:0px;
  left:100%;
  width: 200px;
  height: auto;
  background: #fff;
  z-index: 200;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  border-right: 1px solid rgba(0,0,0,0.1);
  border-radius: 5%;
}
nav .navpart1 .catWrapper .sidebarNav ul li:hover .submenu{
  opacity: 1;
  visibility: inherit;
  left: 100%;
}
nav .navpart2 ul {
  display: flex;
  list-style: none;
  margin-bottom: 0px;
  padding: 0;
}

nav .navpart2 ul li {
  display: flex;
  align-items: center;
  position:relative;
}

nav .navpart2 ul li .submenu{
  position:absolute;
  top:100%;
  left: 0px;
  min-width: 150px;
  background: #fff;
  border-radius: 10%;
  top:60px;
  opacity: 0;
  visibility: hidden;
  transition:  all 0.2s ease-in-out;
  z-index: 100;
}
nav .navpart2 ul li:hover .submenu{
  opacity: 1;
  visibility: inherit;
  top: 100%;
}
nav .navpart2 ul li .submenu a{
  display:block;
  width:100%;
}
nav .navpart2 ul li .submenu a button{
  width:100%;
  justify-content: flex-start;
  color:black;
}
nav .navpart2 ul li a {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 8px 10px;
  transition: all 0.2s ease-in-out;
  border-radius: 30%;
}

nav .navpart2 ul li a:hover {
  color: #1d8ab6;
}

nav .navpart2 ul li a .gap {
  padding: 3px;
}

.navButton {
  border: none;
  box-shadow: none;
  color: inherit;
  padding: 0px;
  font: inherit;
  cursor: pointer;
}
.homebanner{
  position:relative;
  overflow: hidden;
  cursor: pointer;
}
.homebanner *{
  outline:none;
}
.homebanner .slick-arrow{
  position:relative;
  top:50%;
  z-index: 200;
  display: flex;
  align-items:center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.homebanner .slick-arrow::before{
  color:#817f7f;
  font-size: 40px;
}
.homebanner .slick-arrow.slick-next{
  position: absolute;
  right:9px;
}
.homebanner .slick-arrow.slick-prev{
  position: absolute;
  left:0px;
}
.homebanner .item .banner{
  z-index: -100;
}
.homeproducts{
  padding: 20px 0px;
  width: 100%;
}
.homeproducts .bar{
  height: 450px;
}
.homeproducts .bar .banner{
  width: 100%;
  min-width: 50px;
  height:100%;
  border-radius: 5%;
  overflow: hidden;
}
.homeproducts .para-set{
  display:flex;
  align-items: center;
  gap: 30px;
}
.homeproducts .para-set .text{
  display:flex;
  align-items: left;
  padding-left: 10px;
}
.homeproducts .viewall{
  padding: 8px 15px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 30px;
  color: black;
  font-weight: 500;
}
.homeproducts .viewall svg{
  font-size: 12px;
}
.productitem{
  width:100%;
  height: auto;
  border: 1px solid rgba(0,0,0,0.1);
  cursor: pointer;
  position: relative;
}
.productitem .badge{
  display: inline-block;
  padding: 5px 8px;
  position: absolute;
  top:5px;
  left: 5px;
  color: #fff;
  background-color:rgb(0, 183, 255);
  border-top-left-radius: 0%;
}
.productitem .actionbtn{
  position:absolute;
  top:6px;
  right: -100px;
  transition: all 0.4s ease-in-out;
}
.productitem .imageWrapper{
  overflow: hidden;
  position: relative;
}
.productitem .imageWrapper:hover .actionbtn{
  opacity: 1;
  right:5px;
}
.productitem .imageWrapper:hover img{
  transform:  scale(1.1);
}
.productitem .actionbtn button{
  border: 1px solid rgba(0,0,0,0.1);
  height: 30px;
  min-width: 30px;
  width: 30px;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgb(0 0 0/ 12%), 0 1px 2px rgb(0 0 0/ 24%);
}
.productitem .actionbtn button svg{
  color: black;
  opacity: 0.8;
  font-size: 16px;
}
.productitem .actionbtn button:hover{
  background-color: rgba(0,0,0,0.1);
}
.productitem .info{
  padding: 15px;
}
.productitem .info h5{
  font-size: 15px;
  font-weight: 600;
}
.info .price{
  display:flex;
  gap: 5px;
}
.info .oldprice{
  font-size: 15px;
  font-weight:  bold;
  color: rgba(0,0,0,0.4);
  text-decoration: line-through;
}
.info .oldprice .lg{
  font-size: 20px;
}
.info .newprice{
  font-size: 17px;
  font-weight:  bold;
  color:#bd2108;
}
.info .newprice .lg{
  font-size: 25px;
  margin: 2;
}
/* .product_row .swiper-button-prev, .product_row .swiper-button-prev::after{
  font-size: 15px;
  background-color: black;
}
.product_row .swiper-button-prev, .product_row .swiper-button-next::after{
  font-size: 15px;
  z-index: 100;
} */
.bannersection{
  display: flex;
  gap:10px;
}
.newsletter{
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  background-image: linear-gradient(to bottom right, blue,black);
  position: relative;
  overflow: hidden;
  padding: 70px 0px 100px 0px;
}
.newsletter .text1{
  color:white;
  font-size: 18px;
}
.newsletter .text2{
  color:white;
  font-size: 30px;
  font-weight: bold;
}
.newsletter .text3{
  color: white;
  opacity:0.4;
  font-size: 16px;
}
.newsletter img{
  height:300px;
  position: absolute;
  bottom:0px;
  right:0px;
}
.newsletter form{
  height:50px;
  width: 100%;
  background-color: white;
  padding: 10px;
  position: relative;
}
.newsletter .mail-icon{
  position: absolute;
  top: 14px;
  opacity: 0.7;
}
.newsletter form svg{
  position: absolute;
  top: 10px;
  left:10px;
  font-size: 25px;
}
.newsletter form input{
  width: 100%;
  height: 40px;
  background-color: #fff;
  outline:none;
  border:0px;
  padding-left: 35px;
  padding-right: 200px;
  padding-bottom: 10px;
}
.newsletter form button{
  position: absolute;
  top: 5px;
  right: 10px;
  background: #233a95;
  font-size: 16px;
  color: white;
  border: 1px solid #233a95;
}
.newsletter form button:hover{
  background: white;
  color: #233a95;
}
footer{
  width: 100%;
  height: 500px;
  margin: auto;
  background: white;
  padding: 25px 0px;
  background-color: rgb(240, 240, 240);
}
footer .topinfo {
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding-bottom: 20px;
}
footer .topinfo .col{
  display: flex;
  align-items: center;
  padding:  15px 15px 15px 60px;
  border-right: 1px solid rgba(0,0,0,0.2);
}
footer .topinfo .col:last-child{
  border-right: 0px;
}
footer .topinfo .col svg{
  font-size: 26px;
}
footer .topinfo .col .span{
  font-size: 15px;
}
footer .linkWrapper h5{
  font-size: 17px;
  margin-bottom: 20px;
  font-weight: 600;
}
footer .linkWrapper ul li{
  list-style: none;
  margin-bottom: 10px;
}
footer .linkWrapper ul li a{
  color: black;
  font-size: 13px;
  text-decoration: none;
}
footer .linkWrapper ul li a:hover{
  text-decoration: none;
}
footer .copyright{  
  gap:20px;
}
footer .copyright .mb-0{  
  font-size: 10px;
}
footer .copyright ul li a{
  display: flex;
  align-items: center;
  justify-content: center;
  position:relative;
  top: -12px;
  width:40px;
  height:40px;
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,0.1);
  transition: all 0.3s;
}
footer .copyright ul li a:hover{
  background-color: #2bbef9;
}
footer .copyright ul li a svg{
  font-size: 18px;
  color: rgba(0,0,0,0.8);
}
footer .copyright ul li a svg:hover{
  color: #fff;
}
.productModel .MuiPaper-elevation{
  padding: 25px;
  position:relative;
  max-width: 900px;
  width:900px;;
}
.productModel .close_{
  position: absolute;
  top:5px;
  right:5px;
  color:black;
  min-width: 40px;
  width:40px;
  height:40px;
  border-radius: 50%;
}
.productModel h4{
  font-size: 22px;
}
.productModel .small-info{
  display: flex;
  align-items: center;
}
.productModel .small-info .info{
  display: flex;
  align-items: center;
  font-weight: 400;
}
.productZoom{ 
  width: 100%; 
  height: auto; 
  border: 1px solid rgba(0,0,0,0.1); 
  padding: 0px; overflow: hidden; 
  border-radius: 15px;
}
.zoomSliderBig{
  width: 100% ;
  height: auto;
}
/* .zoomSliderBig .slick-arrow{
  background-color: black;
} */
.zoomSlider{
  padding-top: 30px;
}
.zoomSlider .slick-slide { 
  padding-right: 20px  ;
}
.zoomSlider *{
  outline: none ;
}
.zoomSlider .item{
  border: 2px solid transparent; 
  overflow: hidden; 
  border-radius: 15px; 
  cursor: pointer;
}
.zoomSlider .slick-arrow{
  top: 55%; 
  zoom: 80%;
  height: 39px;
  width: 39px;
  border-radius: 50%;
}
.zoomSlider .slick-arrow::before{
  color:#949494;
  font-size: 45px;
}
.zoomSlider .slick-arrow.slick-next{
  right: 8px;
}
.zoomSlider .slick-arrow.slick-prev{
  z-index: 200;
}
.details .full-info{
  padding-left: 15px;
}
.description{
  font-size: 14px;
  color: rgba(0,0,0,0.8);
}
.details .full-info .addtocart{
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 15px;
}
.details .full-info .addtocart .quantity{
  display: flex;
  align-items: center;
}
.details .full-info .addtocart button{
  background-color: #233a95;
  border-radius: 12px;
  padding: 3px 12px;
  color: #fff;
  border: 1px solid hsl(228, 62%, 36%);
  min-width: auto;
  font-size: 10px;
  gap: 5px;
}
.details .full-info .addtocart button:hover{
  background-color: #fff;
  color: #233a95;
  border: 1px solid #233a95;
}
.details .full-info .addtocart .quantity{
  width: 150px;
  gap:10px;
}
.details .full-info .addtocart .quantity button{
  width: 30px;
  min-width: 30px;
  height: 30px;
  border-radius:  50%;
  background-color: white;
  color: #233a95;
}
.details .full-info .addtocart input{
  border-radius: 13px;
  border: 1px solid transparent;
  width: 35px;
  outline: none;
  text-align: center;
}
.details .full-info .addtocart .markMeFav{
  width: 150px;
  font-size: 9px;
  background-color: rgb(252, 173, 236);
  border: 1px solid rgb(252, 173, 236);
  color:#bd2108;
  gap:3px;
}
.details .full-info .addtocart .markMeFav:hover{
  background-color: rgb(247, 194, 237);
  border: 1px solid #bd2108;
  color:#bd2108;
}
.details .full-info a{
  text-decoration: none;
}
.details .full-info a:hover{
  background-color: #02ff89;
}
.details .full-info .moreInfo{
  background-color:#07d374;
  border: 1px solid #1fb55d;
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 15px;
  cursor: pointer;
}
.details .full-info .moreInfo span{
  color: white;
}
.discount{ 
  position: absolute;
  top:4px;
  right: 0px;
  background-color: #bd2108;
  height: 40px;
  width: 60px;
}
.discount:hover{ 
  position: absolute;
  background-color: #fff;
}
.discount .percent{ 
  position:absolute;
  top: 10px;
  right:9px;
  font-size: 20px;
}
.discount .percent:hover{ 
  position:absolute;
  color: red;
  font-size: 30px;
}
.listing_page{
  padding: 35px 0px;
}
.listing_page .products{
  display: flex;
  gap: 20px;
}
.listing_page .products .sidebar{
  width: 20%;
  min-width: 130px;
  flex: 0 0 20%;
}
.listing_page .products .right{
  width: 80%;
  flex: 0 0 80%;
  padding-left: 30px;
}
.listing_page .products .sidebar .box{
  margin-bottom: 30px;
}
.listing_page .products .sidebar .box h6{
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 20px;
}
.listing_page .products .sidebar .box .scroll ul li{
  list-style: none;
  margin-bottom: 5px;
  width: 100%;
}
.listing_page .products .sidebar .scroll{
  padding-left: 0px;
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: scroll;
}
.listing_page .products .sidebar .scroll::-webkit-scrollbar{
  width:5px;
  height: 5px;
}
.listing_page .products .sidebar .box .scroll ul li{
  margin-bottom: 0px;
}
.listing_page .products .sidebar .box .scroll ul li .form_ svg{
  font-size: 13px;
}
.css-j204z7-MuiFormControlLabel-root{
  position: relative;
  right:30px;
}
/* This set controls the colors of Product categories in http://localhost:3000/cat/:id*/
/* .css-8je8zh-MuiTouchRipple-root{
  color:greenyellow;
} */
.css-i4bv87-MuiSvgIcon-root{
  color: #3bb77e;
}
.css-ahj2mt-MuiTypography-root{
  color:#3bb77e;
}
/*------------------------------------------------------------------------------------*/
.box .rangeof-price .min{
  display: flex;
  gap:10px;
  margin-bottom: 6px;
}
.box .rangeof-price .min p{
  font-size: 14px;
  font-weight: 500;
  position: relative;
}
.box .rangeof-price .min p .rs{
  font-size: 10px;
  position: absolute;
  left:3px;
}
.box .rangeof-price .min input{
  width: 100px;
  min-width: 50px;
  border: 1px solid rgba(3, 253, 145, 0.525);
  outline: none;
  border-radius: 12px;
  padding-left: 10px;
}
.listing_page .products .right .pageBanner{
  max-height: 400px;
  min-height: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.showby{
  width: 100%;
  height: auto;
  background-color: #ece3e3;
  display: flex;
  align-items: center;
  padding: 15px 25px;
}
.showby .btnWrapper{
  display: flex;
  align-items: center;
}
.showby .btnWrapper button{
  min-width: 30px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: black;
}
.showby .btnWrapper button svg{
  font-size: 20px;
  opacity: 0.6;
}
.showby .btnWrapper button:hover svg{
  opacity: 1;
}
.productListing {
  display: grid;
  gap: 10px;
  margin-bottom: 10px;
}

.productListing.one {
  grid-template-columns: 1fr;
}
.productListing.one .productitem{
  display: flex;
  align-items: center;
}
.productListing.one .imageWrapper{
  width: 30%;
}
.productListing.two {
  grid-template-columns: repeat(2, 1fr);
}

.productListing.three {
  grid-template-columns: repeat(3, 1fr);
}

.productListing.four {
  grid-template-columns: repeat(4, 1fr);
}

.productitem {
  background-color: white;
  border: 1px solid #ddd;
  padding: 10px;
}
.section{
  padding: 40px;
}
.productdetails .subdetails{
  display: flex;
  align-items: center;
  font-size: 14px;
}

.productdetails .detailsList{
  display: flex;
  align-items: center;
  gap: 20px;
}
.productdetails .subdetails li{
  opacity: 0.6;
  font-size: 13px;
}
.productdetails .reviews{
  opacity: 0.6;
  font-size: 9px;
  cursor: pointer;
}
.productdetails .price{
  display:flex;
  gap: 10px;
}
.productdetails .oldprice{
  font-size: 15px;
  font-weight:  bold;
  color: rgba(0,0,0,0.4);
  text-decoration: line-through;
}
.productdetails .newprice{
  font-size: 20px;
  font-weight:  bold;
  color:#bd2108;
  position: relative;
  top: -7px;;
}
.quantityList{
  gap: 30px;
}
.quantityList button{
  height: 30px;
  width: 30px;
  min-width: 30px;
  border-radius: 50%;
  border: 1px solid rgb(0, 183, 255);
}
.quantityList input{
  padding: 0px 20px;
  max-width: 60px;
  min-width: 20px;
  outline: none;
  border: 1px solid transparent;
}
.quantityList .addme{
  width: 150px;
  font-size: 12px;
  background-color: #233a95;
  border-radius: 12px;
  padding: 3px 12px;
  color: #fff;
  border: 1px solid hsl(228, 62%, 36%);
  min-width: auto;
  gap: 5px;
}
.quantityList .addme:hover{
  color: hsl(228, 62%, 36%);
}
.quantityList .markMeFav{
  width: 150px;
  font-size: 9px;
  background-color: rgb(252, 173, 236);
  border: 1px solid rgb(252, 173, 236);
  border-radius: 12px;
  color:#bd2108;
  gap:3px;
}
.quantityList .markMeFav:hover{
  background-color: rgb(247, 194, 237);
  border: 1px solid #bd2108;
  color:#bd2108;
}
.productdetails .detailsPageTabs{
  background-color: rgba(0,0,0,0.1);
}
.detailsPageTabs{
  border-radius: 30px;
}
.customTabs ul li{
  margin-right: 30px;
}
.customTabs ul li button{
  padding: 8px 20px;
  border: 1px solid rgba(0,0,0,0.2);
  font-size: 14px; 
  text-transform: capitalize; 
  border-radius: 30px; 
  color: #000;
}
.customTabs ul li button.active{
  color: #07d374;
  border: 1px solid #07d374;
}
.tabContent{
  font-size: 14px;
}
.tabContent .table{
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 12px;
}
.tabContent .table .tablehead{
  font-size: 14px;
  color:rgba(0,0,0,0.8);
}
.tabContent .table .tabledata{
  font-size: 14px;
}
.tabContent h4{
  font-size: 20px;
  color: rgba(0,0,0,0.8);
  text-transform:uppercase;
}
.reviewsCard{
  margin-bottom: 25px;
  gap: 30px;
  background-color: rgba(0,0,0,0.1);
}
.reviewsCard .image{
  width: 100px;
  padding:10px;
}
.reviewsCard .image .name{
  display: block;
  text-align: center;
  font-size: 12px;
}
.reviewsCard .rounded-circle{
  display: flex; 
  align-items: center; 
  justify-content: center; 
  overflow: hidden; 
  width: 100px; 
  height:100px;
}
.reviewsCard .rounded-circle img{
  width: 100%; 
  height: 100%; 
  object-fit: cover;
}
.reviewsCard  .info{
  width: 85%;
}
.reviewsCard  .info .date-section{
  display:flex;
  gap: 20px;
  width: 100;
  padding-bottom: 10px;
}
.reviewForm .form-group{
  margin-bottom: 25px;
}
.reviewForm .form-group .form-control{
  height: 80px; 
  font-size: 15px; 
  border-radius: 7px; 
  padding-left: 20px;
}
.reviewForm .form-group textarea.form-control{
  height: 200px; 
  padding-top: 20px;
}
.reviewForm .form-group .form-control1{
  height: 50px; 
  font-size: 15px; 
  border-radius: 7px; 
  padding-left: 20px;
  border: 1px solid rgba(0,0,0,0.1);
  outline-color: #07d374;
}
.progressBox{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 20px;
}
.progress-bar{
  font-size: 16px;
}
.form-group p{
  color:#817f7f;
}
.form-group .rating{
  position: relative;
  top:-18px;
}
.form-group .button{
  color: #175d79;
  width: 200px;
  border: 2px solid #106080;
  background-color: #5ccbf7;
  border-radius: 13px;
  font-weight: 600;
}
.form-group .button:hover{
  background-color: #c3eeff;
}
.related{
  margin-top: 25px;
}
.related h3{
  text-transform: uppercase;
  font-size: 20px;
}
.cartPage .table{
  cursor: pointer;;
}
.cartPage .table thead th{
  background: #cbc2c2;
  overflow: hidden;
  font-size: 15px;
  border-bottom: 4px solid transparent;

}
.cartPage .table thead th:first-child{
  border-top-left-radius: 10px;
}
.cartPage .table thead th:last-child{
  border-top-right-radius: 10px;
}
.cartPage .table tbody .imageSection{
  display: flex;
  align-items: center;
}
.balance{
  position:relative;
}
.balance .balanceMe{
  position:absolute;
  top:40%;
}
.imageSection .imageWrapper{
  max-width: 70px;
  min-width: 50px;
  overflow: hidden;
}
tbody a{
  text-decoration: none;
  color:#89b8cb;
}
.table tbody .quantity input{
  width: 40px;
  padding:0px 10px;
  border-radius: 12px;
}
.remove{
  display: flex;
  gap:5px;
}
.remove .cutMe{
  background-color: rgb(204, 54, 54);
  border-radius: 50%;
  color: #fff;
  border: 0px;
  min-width: 35px;
  max-width: 35px;
  height:35px;
  font-size: 21px;
  top:-5px;
  margin-left: 23px;
}
.remove .cutMe:hover{
  color: rgb(204, 54, 54);
  background-color: rgb(243, 237, 237);
}
.cartfullTot{
  background-color: #fafafa;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 50px;
}
.cartfullTot:hover{
  transform:  scale(1.1);
}
.cartfullTot h4{
  text-transform: uppercase;
  font-size: 25px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.cartfullTot .info{
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 10px ;
}
.cartfullTot .info .topic{
  font-weight: 500;
  font-size: 15px;
  color:#1fb55d;
}
.cartfullTot button{
  background-color: #1fb55d;
  padding: 5px 15px;
  color: #fff;
  border: 1px solid #1fb55d;
  min-width: auto;
  font-size: 14px;
  gap: 5px;
}
.cartfullTot button:hover{
  background-color: #27de73;
  color: white;
  border: 1px solid #1fb55d;
}
.signin{
  width: 100%;
  height: 100vh;
  background-image: url('https://th.bing.com/th/id/R.2f15a917af5c0846181a0385de87c16d?rik=Q9eOGt3MM6H4kQ&pid=ImgRaw&r=0'); 
}
.signin .box{
  padding: 3%;
  width: 350px;
  height: auto;
  background-color: transparent;
  border-radius: 15px;
  margin: auto;
  position: relative;
  padding:20px 40px;
}
.register{
  height: auto;
}
.register .box{
  width: 450px;
}
.signin .box img{
  margin-top: 10px;
  height: 55px;
}
.signin .box h2{
  font-size: 23px;
  font-weight: 600;
  margin-top: 10px;
  text-transform: uppercase;
}
.signin .box form .input-box{
  width: 100%;
  margin-bottom: 10px;
}
.signin .box form a{
  font-size: 13px;
  text-decoration: none;;
}
.signin .box form button{
  margin-top: 10px;
  margin-bottom: 10px;
  height: 45px;
  border-radius: 15px;
  background-color: lightblue;
}
.signin .box form .registerSection{
  display: flex; 
  gap: 10px;
}
.signin .box form p{
  text-decoration: none;
  font-size: 14px;
}
.register .customTabs ul {
  display: flex;
  justify-content: center;
}

.register .customTabs ul li {
  flex: 1;
  display: flex;
  justify-content: center;
}
.register .customTabs ul li .button01 {
  width: 100%;
  height: 30px;
  border: 0px;
  border-radius: 0px;
  padding-top: 17px;
  gap: 5px;
  color: #ADD8E6;
}
.register .customTabs ul li .button02 {
  width: 100%;
  height: 30px;
  border: 0px;
  border-radius: 0px;
  padding-top: 17px;
  position: relative;
  color: #90EE90;
  left:18%;
  gap: 5px;
}
.register .tab01 {
  display: none;
  position:relative;
  top: -26px;
  padding: 20px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.register .tab02 {
  display: none;
  position:relative;
  top: -26px;
  padding: 20px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.register .customTabs ul li .button01.active {
  background-color: #ADD8E6;
  color: black;
  border-top-left-radius: 12px;
}
.register .customTabs ul li .button02.active {
  background-color: #90EE90;
  color: black;
  border-top-right-radius: 12px;
}
.register .customTabs ul li .button01:not(.active) {
  background-color: initial;
}
.register .customTabs ul li .button02:not(.active) {
  background-color: initial;
}
.register .tab01.active {
  display: block;
  background-color: #ADD8E6;
}
.register .tab02.active {
  display: block;
  background-color:  #90EE90;
}
